<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/">
            </ion-back-button>
        </ion-buttons>
        <ion-title>Sobre</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic molestias consequuntur quae? Officia est magni ipsam sit! Reiciendis dolorem, enim ab consequatur placeat accusantium numquam excepturi, quidem inventore libero quas!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos nam laborum totam cum mollitia ut, error quaerat libero commodi nostrum possimus repellat, repellendus voluptatum excepturi necessitatibus quod, fugiat eaque sit!</p>
    <ion-img src="/assets/jardim.jpg">
    </ion-img>
</ion-content>