<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/">
            </ion-back-button>
        </ion-buttons>
        <ion-title>Sobre mim</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>Meu nome é Thaissa, esse é meu primeiro aplicativo! Estou muito ansiosa para aprender a mexer nele corretamente, achei muito interessante, tanto que eu e meus amigos pretendemos usa-lo 'caso a gente aprenda' no nosso trabalho de TCC, por isso quero
        extrair o máximo de conhecimento.</p>
    <ion-img src="/assets/aprendendo.jpg">
    </ion-img>
</ion-content>